
* {
  box-sizing: border-box;
}

body {
  background: #ffc987;      
  font-family:georgia;
  overflow: hidden;
  height:100%;
  text-transform:capitalize;
}

.panel-container {
  background-color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  font-size: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  max-width: 800px;
  color:#c40000;
  margin:10% auto 2% auto;
}

.panel-container strong {
  line-height: 20px;
}

.ratings-container {
  display: flex;
  margin: 20px 0;
}

.rating {
  flex: 1;
  cursor: pointer;
  padding: 20px;
  margin: 10px 5px;
}

.rating:hover,
.rating.active {
  border-radius: 4px;
  box-shadow:0 0 10px rgba(0, 0, 0, 0.1);
}

.rating img {
  width: 40px;
}

.rating small {
  color: #fff;
  display: inline-block;
  margin: 10px 0 0;
}

.rating:hover small,
.rating.active small {
  color: #ffc987;
}

.btn {
  background-color: #black;
  color: #000;
  border: 0;
  border-radius: 4px;
  padding: 12px 30px;
  cursor: pointer;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.98);
}
.btn:hover{
    color:grey;
}

.credit a{
    text-decoration: none;
    color: #fff;
  }

  .credit {
      text-align: center;
  }

